
body {
    display: flex;
    justify-content: center;
}



main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 35% 30% 35%;
    max-width: 1300px;
    min-height: 900px;
}

.toptext-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    background-color: #F7F9FA ;
    
    grid-column: 4 / 9;
    grid-row: 1 / 2;
}

.form-section {
    display: grid; 
    grid-template-columns: 1; 
    grid-template-rows: repeat(3, 1fr);

    background-color: white ;
    grid-column: 4 / 9;
    grid-row: 2 / 3;
    

}

form {
    padding: 50px;
}

.first-row {
   display: flex;
  
    grid-column: 1 /2;
    grid-row: 1 / 2;
  

    
}

.second-row {
    display: flex;
    
    
    grid-column: 1 / 2; 
    grid-row: 2 / 3;
   
}

.third-row {
    display: flex;
  
    grid-column: 1 / 2; 
    grid-row: 3 / 4;
  

    
}




/* form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

} */



.create-account-section {
    padding: 2rem;
    background-color:#F7F9FA ;
    grid-column: 4 / 9;
    grid-row: 3 / 4;
}

button {
    background-color: #485B39;
    border-radius: 7px;
    width: 12rem;
    height: 3rem;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/leaf3.jpg");
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}

.image-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: black;
    opacity: 40%;
   
}


.logo-overlay {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
   
}

.img {
    width: 330px;
    height: 330px;
}
