
body {
    display: flex;
    justify-content: center;
}



main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 35% 30% 35%;
    max-width: 1300px;
    min-height: 900px;
}

.toptext-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    background-color: #F7F9FA ;
    grid-column: 4 / 9;
    grid-row: 1 / 2;
}

.form-section {
    display: grid; 
    grid-template-columns: 1; 
    grid-template-rows: repeat(3, 1fr);
    background-color: white ;
    grid-column: 4 / 9;
    grid-row: 2 / 3;
    box-shadow: 0 6px 4px -2px #DDE0E0;
    z-index: 10;
}

form {
    padding: 2rem;
}

.first-row {
    display: flex;
    gap: 3rem;
    grid-column: 1 /2;
    grid-row: 1 / 2;   
}

.second-row {
    display: flex;
    gap: 3rem;
    grid-column: 1 / 2; 
    grid-row: 2 / 3;  
}

.third-row {
    display: flex;
    gap: 3rem;
    grid-column: 1 / 2; 
    grid-row: 3 / 4; 
}


input {
    width: 13rem;
    border: 2px solid #E4E7EB;
    border-radius: 2px;
    font-size: 1rem;
}



.create-account-section {
    padding: 2rem;
    background-color:#F7F9FA ;
    grid-column: 4 / 9;
    grid-row: 3 / 4;
  

}

button {
    background-color: #485B39;
    border-radius: 7px;
    width: 12rem;
    height: 3rem;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/leaf4.jpg");
    background-repeat: no-repeat;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    z-index: 2;
}

.image-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: black;
    opacity: 40%;
    z-index: 3;
   
}



.logo-overlay {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 5;
   
}

.img {
    width: 330px;
    height: 330px;
}

.image-overlay {
    z-index: 8;
}

label {
    font-size: 0.7rem;
}